


@keyframes cssload-spin{
	0%,	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}

@-webkit-keyframes cssload-spin{
	0%,	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}

@-moz-keyframes cssload-spin{
	0%,	100% {
		box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	}
	25% {
		box-shadow: -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73);
	}
	50% {
		box-shadow: -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223), 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223);
	}
	75% {
		box-shadow: 26px -26px #dfdfdf, 26px 26px #4f4d49, -26px 26px #dfdfdf, -26px -26px #4f4d49;
	}
}
body{
    background-color: rgb(31, 31, 31);
    transition: 0.75s;
}
body.init{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 24px;
	height: 24px;
	border-radius: 100%;
	box-shadow: 26px 26px rgb(79,77,73), -26px 26px rgb(223,223,223), -26px -26px rgb(79,77,73), 26px -26px rgb(223,223,223);
	animation: cssload-spin ease infinite 2.8s;
		-webkit-animation: cssload-spin ease infinite 2.8s;
		-moz-animation: cssload-spin ease infinite 2.8s;
}